nav {
  height: 10vh;
  background-color: var(--primaryColor);
  text-transform: capitalize;
  font-family: "kanit", Verdana, Geneva, Tahoma, sans-serif;
}
.nav-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.nav-header {
  align-self: center;
  margin: 0 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  /* background-color: var(--darkGrey); */
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: auto; */
  margin: 0 auto;
}
.nav-links li a {
  color: var(--offWhite);
  text-decoration: none;
  font-size: 20px;
}
/* .nav-links li a:hover {
  color: var(--darkGrey);
} */
.nav-links li {
  padding: 5px;
}
.nav-links li:hover {
  background-color: var(--darkGrey);
  border-radius: var(--radius);
  box-shadow: var(--lightShadow);
}
.social-icons {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0 10px;
  max-width: 30%;
}
.social-icons a {
  margin: 0 1rem;
  color: var(--offWhite);
  transition: var(--mainTransition);
}
.social-icons a:hover {
  color: var(--darkGrey);
}
.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: var(--mainBlack);
}
.logo {
  height: 40px;
}
.logo:hover {
  cursor: pointer;
}
/*  */
@media screen and (max-width: 768px) {
  .nav-center {
    align-items: unset;
  }
  .nav-header {
    align-self: center;
    margin: 0 20px;
    z-index: 1;
  }
  .line {
    width: 30px;
    height: 3px;
    background: var(--offWhite);
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .social-icons {
    display: none;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: var(--primaryColor);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links-open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 18px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  /* .nav-links > li:hover {
    transition: unset;
  } */
}
